{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Neuroseed</span> <span class="smaller">WEB API Alpha</span></h1>
  <p class="lead">Welcome to <span class="font-normal">webapi</span>, a&nbsp;Pyramid application powered&nbsp;by<br><span class="font-normal">Pyramid</span>.</p>
</div>
{% endblock content %}
